<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="basic">
  <div class="Emp">
    <input class = "searchEmp" type="search" placeholder="Search"  [(ngModel)]="searchText" (input)="onSearchInputChange()">
    <div>
      <label class="itemsPerPage" for="itemsPerPage">Items Per Page:</label>
      <select id="itemsPerPage"  [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()" >
        <option value="5">5</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="10" selected >10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>

      <ul class="pagination" id="pagesBtn">
        <li style="padding-left: 5px" class="page-item"><button class="page-link" (click)="goToFirstPage()">|<</button></li>
        <li class="page-item"><button class="page-link" (click)="goToPreviousPage()"><</button></li>
        <li class="page-item"><button class="page-link" (click)="goToNextPage()">></button></li>
        <li class="page-item"><button class="page-link" (click)="goToLastPage()">>|</button></li>
      </ul>
      <p id = "page">page : {{currentPageIndex}} of {{numberOfPages}}</p>
    </div>

    <button class = "AddEmpbtn" type="button" class="btn btn-primary" (click)="OnClickAddEdit('ADD' , {id : 100 , name:'' , address:'' , email:'' , departmentId: -1})">+ Add Employee</button>


  </div>
  <div class="spacer clearfloat"></div>
  <div class="clearfloat">
    <table  class=" table table-bordered table-striped">
      <thead>
      <tr>

        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th> Edit - Delete </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of result">

        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.address }}</td>
        <td>
          <div id="edit" (click)="OnClickAddEdit('EDIT' , employee)" class="glyphicon glyphicon-edit"></div>
          <div id="trash" (click)="OnSelectTrash(employee.id)" class="trash glyphicon glyphicon-trash"></div>

        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <!-- add employee pop up -->
  <app-add-employee-modal #AddModal  (closeEvent)="reload($event)" ></app-add-employee-modal>
  <app-delete-employee #DeleteModal  (deleteEvent)="reload($event)" ></app-delete-employee>
</div>


