<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="basic">
  <div class="outset">
    <div id="SearchBoxleft">
      <div class="searchLeave">
        <input id="Employee" class = "searchEmp" type="search" style="margin-left: 10px;" placeholder="Search employee or leave"  [(ngModel)]="searchText" (input)="onSearchInputChange()">
      </div>

    </div>

    <div id="SearchBoxRight">
    </div>

  </div>


  <div class="spacer clearfloat"></div>
  <div class="clearfloat">
    <table  class=" table table-bordered table-striped">
      <thead>
      <tr>

        <th>leavetype</th>
        <th>from</th>
        <th>to</th>
        <th>Number of days</th>
        <th>note</th>
        <th>employee</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let leave of result">
        <td>{{ LeaveTypeById(leave.leavetype) }}</td>
        <td>{{ leave.from }}</td>
        <td>{{ leave.to }}</td>
        <td>{{ leave.numberOfDays }}</td>
        <td>{{ leave.note }}</td>
        <td>{{ employeeById(leave.employee) }}</td>
      </tr>
      </tbody>
    </table>

    <div class="paginationDiv">
      <label class="itemsPerPage" for="itemsPerPage">Items Per Page:</label>
      <select id="itemsPerPage"  [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()" >
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>

      <ul class="pagination" id="pagesBtn">
        <li style="padding-left: 5px"  class="page-item"><button class="page-link" (click)="goToFirstPage()">Reset</button></li>
        <li class="page-item"><button class="page-link" (click)="goToPreviousPage()"><</button></li>
        <li class="page-item"><button class="page-link" (click)="goToNextPage()">></button></li>

      </ul>


    </div>
  </div>
</div>






